@charset "UTF-8";

body {
    font-family: "Inter", system-ui, "apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, sans-serif, "font-sans";
    background-color: white;
    margin: 0;
    padding: 0;
}

.top-bar {
    display: flex;
    gap: 20px;
    background-color: black;
    color: white;
    margin: 0;
    padding-left: 90px;
    height: 45px;
}

.top-bar p {
    margin-top: 10px;
    font-size: 15px;
}
.top-bar i {
    padding: 3px;
}

.top-bar p:hover {
    color: #22d3ee;
    cursor: pointer;
}

.social-links {
    margin-left: auto;
    padding-right: 100px;
    padding-top: 10px;
   
}

.social-links i {
    color: white;
    font-size: 16px;
   
}

.social-links i:hover {
    color: #22d3ee;
    cursor: pointer;
}

.nav-bar {
    padding: 10px 90px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-bar ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 0;
    padding-left: 680px;
    margin-top: 1px;
}

.nav-bar ul li {
    font-weight: 600;
    color: #475569;
}

.nav-bar ul li:hover {
    color: #22d3ee;
    cursor: pointer;
}

.nav-bar ul li a {
    text-decoration: none;
    color: inherit;
}